<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" rel="stylesheet"></script>
    <link rel="stylesheet" href="static/css/main.css">
    <title>Результат анализов</title>
</head>
<body>
    <h1 class="display-5" style="text-align: center; padding-top: 3%">Результат анализов</h1>
    <div class="form" style="border-color: #DB5C5C; box-shadow: 7px 5px 5px #DB5C5C;">
        <img src="static/img/bad.png" class="smile">
        <h1 class="text-smile display-6" style="color: #DB5C5C">
          У Вас язвенный колит <br>в активной форме
        </h1>
    </div>
    <p class="href"> <a href="index.html" style="color: #0000EE;">Вернуться на домашнюю страницу</a></p>

</body>
</html>
